*{
    margin: 0;
    padding: 0;
}

/*start general*/
body{
    font-size: 14px;
    line-height: 17px;
    font-family: Verdana, Tahoma, sans-serif;
    font-weight: 400;
}
.container{
    /* width: 75%;
    margin: 0 auto; */
    margin: 0 12.5%;
}
.hidden{
    position: absolute;
    width: 0px;
    height: 0px;
    margin: -1px;
    overflow: hidden;
}
.lead, .recommendation h3, .timetable-info h2{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 24px;
    line-height: 27px;
}
.site-header, .timetable {
    color: #fff;
    background-color:rgba(18, 67, 186, 1);
    ;
}
.column-container{
    display: flex;
    gap: 10px 16%;
}
.column-container .left-column, .column-container .right-column{
    max-width: 480px;
    
}
/* end general */
/* start header */

.site-header .container{
    /* background-image: url("../img/travel.png");
    background-repeat: no-repeat;
    background-position: 100% 130px; */
    
    padding-top: 54px;
    min-height: 400px;     
    padding-bottom: 180px;
}


.main-nav{
    display: flex;
    margin-bottom: 24px;
}
.skyscanner{
    width: 62px;
    height: 62px;
    margin-right: 62px;
}
.travel{
    float: right;
    display: inline;
}
ul {
    list-style: none;
}
.site-menu{
    display: flex;
    width: 706px;
    margin-top: 38px;
}
.site-menu a{
    text-decoration: none;
    display: block;
    margin-right: 30px;
    color: #D4D4D4;
}
.site-header a:hover{
    color:#fff;
    transform: scale(1.1);
    transition: 3s;
}
.site-menu a:active{
    color:#ccc;
}
.contact-menu{
    display: flex;
    max-width: 180px;
    margin-top: 25px;
    margin-left: auto;
}
.contact-menu li{
    margin-left: 24px;
  
}
.contact-menu .icon{
    width: 17px;
    height: 17px;
    display: block;
}
.contact-menu .icon-mail{
    background: url(../img/mail-icon.png) no-repeat 0 50%;
}
.contact-menu .icon-phone{
    background: url(../img/phone-icon.png) no-repeat 0 50%;
}
.contact-menu a:hover{
    opacity: 0.8;
}
.contact-menu a:active{
    opacity: 0.4;
}


.about-us{
    width: 300px;
    padding-left: 122px;
}
.about-us h1{
    margin-bottom: 30px;
    font-size: 45px;
    font-family: 'Courier New', monospace;
    line-height: 50px;

}
.about-us p{
    margin-bottom: 50px;
    color: #D4D4D4;
}
/* end header */
/* start button */
.btn{
    position: relative;
    display: inline-block;
    text-decoration: none;

    width: 190px;
    padding: 17px 25px;
    text-transform: uppercase;
    vertical-align: top;
    cursor: pointer;
    border: none;
    border-radius: 50px;
    color: #222;
}
.btn::after{
    content:"";

    position: absolute;
    top: 17px;
    right: 17px;

    width: 19px;
    height: 16px;
    background: url(../img/right-arrow-dark.png) no-repeat 0 0;
}
.btn-yellow{
    background-color: #FFCB06;
}
.btn-grey{
    background-color: #222222;
    color: #FFFFFF;
    width: 215px;
}
.btn-grey::after{
    background: url(../img/right-arrow-white.png);
}
.btn-grey:hover{
    background-color: #676767;
}
.btn-grey:active{
    background-color: #ccc;
}
/* end button */
/* start advantage */
.advantage{
    background:rgba(71, 110, 211, 1);    ;
    color: #D4D4D4;
    padding: 85px 0;
}
.advantage-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    gap: 80px;
}
.advantage-list li{
    position: relative;

    width: 180px;
    padding-top: 110px;    
}
.advantage-list li:last-child{
    margin-right: 0;
}
.advantage-list li::after{
    content: "";
    top:0;
    left:0;

    position: absolute;
    width: 60px;
    height: 68px;
}

/* end advantage */

/* start vacation */
.vacation{
    padding: 80px 0 126px;
}
.vacation .lead{

    margin: 0px 0px 20px;
}
.vacation p{
    margin-top: 25px;
}
/* end vacation */
/* start recommendation */
.recommendation{
    padding: 20px 0 55px;
    background-color:rgba(209, 224, 252, 1);
    ;
}
.recommendation h3{   
    margin-bottom: 27px;
}
.recommendation-list{
    padding-left: 30px;
  
}
.recommendation-list li{
    position: relative;
  
    margin-bottom: 20px;

}  
.recommendation-list li::before{
    /* убрал поинтеры и вместо них */
    content: "";
    position: absolute;
    left: -25px;
    top: 5px;
  
    width: 8px;
    height: 8px;
  
    border-radius: 50%;
    background-color: rgba(209, 224, 252, 1); 
}
/* end recommendation */
/* start timetable */
.timetable {
    padding: 80px 0;
}  
.timetable-info {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 55px;
}  
.timetable-info h2 {
    width: 180px;
    margin-top: 15px;

    color: #FFFDF7;
} 
.timetable-info p {
    width: 440px;
    margin-left: auto;
    margin-right: 80px;

}  
.timetable-info a {
    color: #feca30;
}  
.timetable-info a:hover {
    color: #fff;
}  
.timetable-info a:active {
    color: #ccc;
}  
.timetable-fligts{
    width: 100%;
    border-collapse: collapse;
}  
.timetable-fligts tr {
    color: #fff;
  
    border-bottom: 1px solid #555555;
    background-color: #222222;
}  
.timetable-fligts th {
    width: 180px;
    padding: 15px;
  
    color: white;
    text-align: left;
  
    background-color:  rgba(71, 110, 211, 1);
    ;
}  
.timetable-fligts td {
    width: 180px;
    padding: 15px;
  
    color: white;
    text-transform: uppercase;
}  
.timetable-fligts th:last-child, .timetable-fligts td:last-child{
    width: 140px;
}
/* end timetable */

.site-footer {
    padding-top: 50px;
    padding-bottom: 80px;
  
    color: #ffffff;
  
    background-color: #131313;
}
   
.footer-columns-container {
    display: flex;
} 
.footer-columns-container .left-column {
    display: flex;
    flex-direction: column;
    width: 180px;
    margin-right: 100px;
}  
.footer-columns-container .right-column {
    width: 720px;
    padding-top: 35px;
}
.logo-container {
    display: flex;
    align-items: center;
  
} 
.logo-container .logo {
    margin-right: 20px;
}
  

.copyrights {
    margin-top: auto;
  
    color: #555555;
}
  
.footer-menu {
    display: flex;
}
  
.footer-menu > li {
    width: 180px;
    margin-right: 60px;
}  
.footer-submenu-title {
    display: block;
    margin-bottom: 50px;
    padding-bottom: 20px;
  
    font-size: 14px;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
  
    border-bottom: 1px solid #555555;
}  
.footer-submenu > li {
    margin-bottom: 20px;
}  
.footer-submenu a {
    text-decoration: none;
    color: #888888;
}  
.footer-nav a:hover {
    color: white;
} 
.footer-nav a:active {
    color: #ccc;
}